mixin buildPost(post)
	a(href='#{post.URL}', target='_blank' class='#{post.displayClass}') #{post.company} - #{post.jobTitle} (posted on #{post.source})


extends layout

block content
	h1 View the latest job postings
	p For Software Engineers in San Diego
	p Last Modified: #{lastMod}

	each post in listings
		li 
			+buildPost(post)